@import url("nav.css");
@import url("home.css");
@import url("vars.css");
@import url("auth.css");
body {
    font-family: calibri;
    margin: 0;
    padding: 0;
    background-color: var(--light);
    font-size: 19px;
}
#home {
    display: block;
    max-width: var(--limit-x);
    margin: auto;
    display: block;
    position: relative;
    min-height: 100vh;
    background-color: #fff;
    margin-bottom: 4em;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--primary-contrast);
    margin: 0;
}
p {
    color: var(--secondary);
    margin: 0;
}
header {
    display: block;
    background-color: var(--primary);
    max-width: var(--limit-x);
    margin: auto;
}
header h2 {
    padding: 0.5em;
}
input:focus, select:focus, button {
    outline: none;
}
